<!--Exported at 24.09.2026 11:51:34  -->
<!--by BIBA-->
<robot name="GoldbarrenGroup">
  <material name="Metall - 1600F (heiß)">
    <color rgba="1 0.561 0.184 1" />
  </material>
  <link name="GoldbarrenPart:1">
    <inertial>
      <origin xyz="0.0049 0.007 24.4985" rpy="-0.0006 0 -0" />
      <mass value="12.0785" />
      <inertia ixx="8712.7858" ixy="27864.3383" ixz="31707.2865" iyy="-0.6583" iyz="-2.3116" izz="-1.1268" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh scale="0.07" filename="package://my_robot_description/meshes/GoldbarrenPart.stl" />
      </geometry>
      <material name="Metall - 1600F (heiß)" />
    </visual>
  </link>
</robot>
