<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot"> 



 <!-- Base link -->
  <link name="base_link">

    <visual>
      <origin xyz="0 0 ${link_height_offset}" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${link_radius}" length="${link_length}"/>
      </geometry>

      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual> 
  </link>
 
  <!-- Table dimensions -->
  <xacro:property name="table_length" value="1.2"/>
  <xacro:property name="table_width" value="0.8"/>
  <xacro:property name="table_height" value="0.75"/>
  <xacro:property name="table_thickness" value="0.05"/>

  <!-- Main table link -->
  <link name="table_link">

    <visual>
      <geometry>
        <box size="${table_length} ${table_width} ${table_thickness}"/>
      </geometry>
      <origin xyz="0 1 ${table_height}" rpy="0 0 0"/>
      <material name="brown">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="${table_length} ${table_width} ${table_thickness}"/>
      </geometry>
      <origin xyz="0 1 ${table_height}" rpy="0 0 0"/>
    </collision>

    <inertial>
      <origin xyz="0 0 ${table_height}" rpy="0 0 0"/>
      <mass value="20.0"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>

  </link>

  
  <!-- connect UR base to bench -->
  <joint name="base_to_table" type="fixed">
    <parent link="base_link"/>
    <child link="table_link"/>
    <origin xyz="1 0 0" rpy="0 0 0"/>
  </joint> 
 


</robot>
