<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="table">

  <link name="table_link">

    <visual>
      <geometry>
        <mesh filename="package://my_robot_description/meshes/WoodPlate_Bench_700x1500x900.stl"/>
      </geometry>

      <material name="gray">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="1.5 0.7 0.05"/>
      </geometry>
    </collision>

  </link>

  

</robot>
