<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5_with_gripper">

  <!-- ===================== -->
  <!-- UR5 BASE ROBOT        -->
  <!-- ===================== -->

  <xacro:include filename="$(find my_robot_description)/urdf/inc/ur5_macro.xacro"/>

  <xacro:ur5_robot prefix="" />


 <!-- ===================== -->
  <!-- INCLUDE GRIPPER       -->
  <!-- ===================== -->

  <xacro:include filename="$(find your_package)/urdf/MyFingerGrip.xacro"/>

  <!-- Attach gripper to tool0 -->

  <xacro:MyFingerGrip parent="tool0"/>

</robot>
