<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5_with_gripper">

  <!-- ===================== -->
  <!-- UR5 BASE ROBOT        -->
  <!-- ===================== -->

  <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro"/>

  <xacro:ur5_robot prefix="" />

  <!-- ===================== -->
  <!-- GRIPPER ADDITION      -->
  <!-- ===================== -->

  <!-- Gripper base attached to tool0 -->
  <link name="1gripper_base_link">
  <visual>
    <geometry>
      <box size="0.05 0.05 0.05"/>
    </geometry>
    <material name="gripperbase" >
    <color rgba ="1 0 1 1"/>
    </material>
  </visual>
</link> 

  <joint name="tool0_to_gripper" type="fixed">
    <parent link="tool0"/>
    <child link="1gripper_base_link"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>


 <!-- ===================== -->
  <!-- INCLUDE GRIPPER       -->
  <!-- ===================== -->
 
  <xacro:include filename="$(find my_robot_description)/urdf/MyFingerGrip.xacro"/>

  <!-- Attach gripper to tool0 --> 

  <xacro:MyFingerGrip parent="tool0"/>




</robot>
