<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5_with_RGgripper">

  <!-- ===================== -->
  <!-- UR5 BASE ROBOT        -->
  <!-- ===================== -->

  <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro"/>

  <xacro:ur5_robot prefix="" />

  <!-- ===================== -->
  <!-- GRIPPER ADDITION      -->
  <!-- ===================== -->
  <xacro:include filename="$(find onrobot_rg_description)/urdf/onrobot_rg2_model_macro.xacro"/>
  <xacro:onrobot_rg2 prefix=""/>

  <!-- attach gripper -->
  <joint name="rg2_joint" type="fixed">
    <parent link="tool0"/>
    <child link="onrobot_rg2_base_link"/>
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
  </joint>
 

</robot>
