<?xml version="1.0"?>
<!--Exported at 11.02.2026 15:20:35  -->
<!--by BIBA-->
<robot name="GoldbarrenGroup">
<material name="Metall - 1600F (heiß)">
    <color rgba="1 0.561 0.184 1" />
  </material>
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
  </link>
 
  <link name="right_leg">
    <visual>
     <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>  
            <mesh filename="../12345/GoldbarrenPart1.stl"/>
      </geometry> 
    </visual>
  </link>
<link name="GoldbarrenPart1:2">
    <inertial>
      <origin xyz="0.0049   0.007   24.4985" rpy="-0.0006   0   -0" />
      <mass value="12.0785" />
      <inertia ixx="8712.7858" ixy="27864.3383" ixz="31707.2865" iyy="-0.6583" iyz="-2.3116" izz="-1.1268" />
    </inertial>
    <visual>
      <origin xyz="-0   80   21" rpy="0   0   0" />
      <geometry>
        <mesh filename="../12345/GoldbarrenPart1.stl"/>
      </geometry>
      <material name="Metall - 1600F (heiß)" />
    </visual>
  </link>
  <joint name="base_to_right_leg" type="fixed">
    <parent link="base_link"/>
    <child link="right_leg"/>
    <origin xyz="0 -0.22 0.25"/>
  </joint>

<joint type="fixed" name="Starr:1">
    <parent Link="right_leg" />
    <child Link="GoldbarrenPart1:2" />
    <origin xyz="" rpy="0   0   0" />
    <Ddynamics>
      <Damping>5</Damping>
      <Friction>4.4</Friction>
    </Ddynamics>
  </joint>
</robot>
