<?xml version="1.0"?>
<!--Exported at 11.02.2026 15:20:35  -->
<!--by BIBA-->
<robot name="GoldbarrenGroup">
<material name="Metall - 1600F (heiß)">
    <color rgba="1 0.561 0.184 1" />
  </material>
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
  </link>

  <link name="right_leg">
    <visual>
      <geometry>
        <box size="0.6 0.1 0.2"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0 0 -0.3"/>
    </visual>
  </link>

  <joint name="base_to_right_leg" type="fixed">
    <parent link="base_link"/>
    <child link="right_leg"/>
    <origin xyz="0 -0.22 0.25"/>
  </joint>

</robot>
