r<?xml version="1.0"?>
<!--Exported at 11.02.2026 15:20:35  -->
<!--by BIBA-->
<robot name="GoldbarrenGroup">
<material name="Metall - 1600F (heiß)">
    <color rgba="1 0.561 0.184 1" />
  </material>
  <link name="base_link">
    <visual>
    <origin xyz="0 0 21" rpy="0 0 0" />
      <geometry>
        <cylinder length="42" radius="0.2"/>
      </geometry>
    </visual>
  </link>
 
 <link name="GoldbarrenPart1:1">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/GoldbarrenPart1_meter.stl"/>
      </geometry> 
         <material name="Metall - 1600F (heiß)" />
    </visual>
  </link>

 <link name="GoldbarrenPart1:2">
    <visual>
     <origin xyz="-5 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/GoldbarrenPart1_meter.stl"/>
 
      </geometry> 
         <material name="Metall - 1600F (heiß)" />
    </visual>
  </link>

  <joint name="base_to_right_leg" type="fixed">
    <parent link="base_link"/>
    <child link="GoldbarrenPart1:1"/>
    <origin xyz="3 0 0.25"/>
  </joint>

 <joint type="fixed" name="Starr:1">
    <parent link="GoldbarrenPart1:1"/>
    <child link="GoldbarrenPart1:2"/>
    <origin xyz="0 0 0" rpy="0 0 0"/> 
  </joint>
 
</robot>
