<?xml version="1.0"?>
<robot name="origins">

<material name="Metall - 1600F (heiß)">
    <color rgba="1 0.561 0.184 1" />
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
  </link>

  <link name="U10_Base">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/Base.stl"/>
 
      </geometry> 
         <material name="Metall - 1600F (heiß)" />
    </visual>
  </link>

<link name="First_Gelenk">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/Base.stl"/>
 
      </geometry> 
         <material name="Metall - 1600F (heiß)" />
    </visual>
  </link>

  <joint name="base_to_right_leg" type="fixed">
    <parent link="base_link"/>
    <child link="U10_Base"/>
    <origin xyz="0 1 0"/>
  </joint>

  <joint name="first_joint" type="fixed">
    <parent link="U10_Base"/>
    <child link="First_Gelenk"/>
    <origin xyz="0 1 0.5"/>
  </joint>
</robot>
