<robot name="Workstations">

<material name="red">
    <color rgba="1 0 0 1"/>
  </material>

<link name="base_link">
<visual>
    <origin xyz="0 0 0.5" rpy="0 0 0" />
      <geometry>
        <cylinder length="1" radius="0.02"/>
      </geometry>
   <material name="red"/>
    </visual>
  </link>
 

<link name="PartitionWall_1800x790">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/Fences/PartitionWall_1800x790.stl"/> 
      </geometry>  
    </visual>
  </link>

<link name="PartitionWall_2100x790">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/Fences/PartitionWall_2100x790.stl"/> 
      </geometry>  
    </visual>
  </link>



<link name="SafetyFence_2000x2100">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/Fences/SafetyFence_2000x2100.stl"/> 
      </geometry>  
    </visual>
  </link>

 <joint name="PartitionWall1800TobaseLink" type="fixed"> 
    <parent link="base_link"/>
    <child link="PartitionWall_1800x790"/>
    <origin xyz="0 2 0"/>
  </joint>

 <joint name="PartitionWall2100TobaseLink" type="fixed"> 
    <parent link="base_link"/>
    <child link="PartitionWall_2100x790"/>
    <origin xyz="-2 2 0"/>
  </joint>


 <joint name="SafetyFenceTobaseLink" type="fixed"> 
    <parent link="base_link"/>
    <child link="SafetyFence_2000x2100"/>
    <origin xyz="0 3 0"/>
  </joint>


</robot>
