<robot name="Workstations">

 <material name="red">
    <color rgba="1 0 0 1"/>
  </material>


<link name="base_link">
<visual>
    <origin xyz="0 0 0.5" rpy="0 0 0" />
      <geometry>
        <cylinder length="1" radius="0.02"/>
      </geometry>
   <material name="red"/>
    </visual>
  </link>

<link name="Slottted_Plate_Bench_700x1500">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/Workstations/Slottted_Plate_Bench_700x1500.stl"/> 
      </geometry>  
    </visual>
  </link>

<link name="conveyerTable">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/Workstations/transportband02.stl"/> 
      </geometry>  
    </visual>
  </link>


 <joint name="BenchTobaseLink" type="fixed"> 
    <parent link="base_link"/>
    <child link="Slottted_Plate_Bench_700x1500"/>
    <origin xyz="2 1 0.9"/>
  </joint>

  <joint name="test" type="fixed"> 
    <parent link="base_link"/>
    <child link="conveyerTable"/>
    <origin xyz="-3 2 0.9"/>
  </joint>

</robot>
