<launch>
     


 <param name="robot_description"
           command="$(find xacro)/xacro $(find fanuc_r2000ib_support)/urdf/r2000ib210f.urdf.xacro" />

    <!-- Joint state publisher (fake motion) -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Robot state publisher (TF) -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 

     <!-- Fanuc R-2000iB MoveIt (simulation) --> 
     <include file="$(find fanuc_r2000ib_moveit_config)/launch/moveit_planning_execution.launch"> 
        <arg name="sim" value="true"/> 
     </include>

    <include file="$(eval find(arg('ur_type') + '_moveit_config') + '/launch/demo.launch')">
     <!-- disable RViz -->
     <arg name="use_rviz" value="false"/>
  </include>

</launch>
