<launch>
 <!-- Robot type -->
        <arg name="ur_type" default="ur5"/>

    <!-- Load robot description -->
    <param name="robot_description"
           command="$(find xacro)/xacro $(find my_robot_description)/urdf/robot.xacro" />

  

 <include file="$(eval find(arg('ur_type') + '_moveit_config') + '/launch/demo.launch')">
     <!-- disable RViz -->
     <arg name="use_rviz" value="false"/>
     <arg name="load_robot_description" value="false"/>
  </include>

</launch>
