<launch>

    <!-- Load robot description 
    <param name="robot_description"
           command="$(find xacro)/xacro $(find my_robot_description)/urdf/my_robot.xacro" />

    <!-- Publish TF -->
    <node pkg="robot_state_publisher"
          type="robot_state_publisher"
          name="robot_state_publisher" />

-->



         <!-- Robot type -->
        <arg name="ur_type" default="ur5"/>

        <!-- Load UR5 URDF -->
        <param name="robot_description"
               command="$(find xacro)/xacro $(find ur_description)/urdf/$(arg ur_type).xacro"/>

     

        <!-- Publish TF -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher"/> 
 

</launch>
