<launch>
        <!-- Robot type -->
        <arg name="ur_type" default="ur5"/>

        
     <param name="robot_description"
           command="$(find xacro)/xacro $(find my_robot_description)/urdf/ur5_with_RGgripper.xacro" />

     

    <include file="$(eval find(arg('ur_type') + '_moveit_config') + '/launch/demo.launch')">
     <!-- disable RViz -->
     <arg name="use_rviz" value="false"/>
     <arg name="load_robot_description" value="false"/>
  </include>

</launch>
