<robot name="Workpieces">

<material name="red">
    <color rgba="1 0 0 1"/>
  </material>

<link name="base_link">
<visual>
    <origin xyz="0 0 0.5" rpy="0 0 0" />
      <geometry>
        <cylinder length="1" radius="0.02"/>
      </geometry>
   <material name="red"/>
    </visual>
  </link>
 

<link name="flower_vase_170x118">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/Workpieces/flower_vase_170x118.stl"/> 
      </geometry>  
 <material name="BIBA_red">
        <color rgba="0.929 0.109 0.141 0.8"/>
      </material> 
    </visual>
  </link>

<link name="flower_vase_162x185">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/Workpieces/flower_vase_162x185.stl"/> 
      </geometry>  
 <material name="BIBA_gruen">
        <color rgba="0 0.501 0 0.6"/>
      </material> 
    </visual>
  </link>


<link name="Monitor_965x710">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/Workpieces/Monitor_965x710.stl"/> 
      </geometry>  
    </visual>
  </link>


<link name="FittingPipe_694x392_PN40">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/Workpieces/FittingPipe_694x392_PN40.stl"/> 
      </geometry>  
 <material name="BIBA_dunkelblau">
        <color rgba="0 0.501 0 0.6"/>
      </material> 
    </visual>
  </link>

<link name="Flange_270x68_PN40">
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>  
            <mesh filename="../12345/Workpieces/Flange_270x68_PN40.stl"/> 
      </geometry>  
 <material name="BIBA_dunkelblau">
        <color rgba="0 0.501 0 0.6"/>
      </material> 
    </visual>
  </link>



 <joint name="flower_vase_170x118TobaseLink" type="fixed"> 
    <parent link="base_link"/>
    <child link="flower_vase_170x118"/>
    <origin xyz="1 1 0"/>
  </joint>

 <joint name="flower_vase_162x185TobaseLink" type="fixed"> 
    <parent link="base_link"/>
    <child link="flower_vase_162x185"/>
    <origin xyz="1 1.5 0"/>
  </joint>


 <joint name="Monitor_965x710TobaseLink" type="fixed"> 
    <parent link="base_link"/>
    <child link="Monitor_965x710"/>
    <origin xyz="1 -1 0"/>
  </joint>


 <joint name="FittingPipe_694x392_PN40TobaseLink" type="fixed"> 
    <parent link="base_link"/>
    <child link="FittingPipe_694x392_PN40"/>
    <origin xyz="1 -1 0"/>
  </joint>

 <joint name="Flange_270x68_PN40TobaseLink" type="fixed"> 
    <parent link="base_link"/>
    <child link="Flange_270x68_PN40"/>
    <origin xyz="1 -1 0"/>
  </joint>


</robot>
